@model ProyectoCV.Models.CVs
@{
    ViewBag.Title = "Perfil";
}

<div class="container">
    <h1 class="encabezado_pagina">@ViewBag.Title</h1>
    @*Html.ActionLink("Agregar foto", "AgregarFoto", "CV", htmlAttributes: new { @class = "btn btn-primary" })*@
    <div class="row text-center filaTiposCV">
        <div class="form-group">
            <label class="radio-inline"><input class="tiposCV" type="radio" name="tipocv" value="1" checked="@(Model.TipoCV == 1 ? "checked" : "")">Executive</label>
            <label class="radio-inline"><input class="tiposCV" type="radio" name="tipocv" value="2" checked="@(Model.TipoCV == 2 ? "checked" : "")">Elegant</label>
            <label class="radio-inline"><input class="tiposCV" type="radio" name="tipocv" value="3" checked="@(Model.TipoCV == 3 ? "checked" : "")">Bold</label>
            <label class="radio-inline"><input class="tiposCV" type="radio" name="tipocv" value="4" checked="@(Model.TipoCV == 4 ? "checked" : "")">Literateur</label>
            <label class="radio-inline"><input class="tiposCV" type="radio" name="tipocv" value="5" checked="@(Model.TipoCV == 5 ? "checked" : "")">Finesse</label>
            <label class="radio-inline"><input class="tiposCV" type="radio" name="tipocv" value="6" checked="@(Model.TipoCV == 6 ? "checked" : "")">Metro</label>
        </div>
        <a href="" id="guardarEstilo" type="button" class="btnGuardar"><span class="glyphicon glyphicon-floppy-disk" data-toggle="tooltip" title="Guardar estilo"></span></a>
    </div>

    <div id="presentacionCV" class="presentacionCV tipo@(Model.TipoCV)">
        <a href="@Url.Action("EditarCV", "CV")" type="button" class="btnPresentacionCV editar" data-toggle="tooltip" title="Editar"><span class=" glyphicon glyphicon-pencil"></span></a>
        <a href="#" type="button" class="btnPresentacionCV imprimir"><span class="glyphicon glyphicon-print" data-toggle="tooltip" title="Imprimir"></span></a>
        <h1 class="titulo_nombre_completo">@Html.DisplayFor(model => model.NombreCompleto)</h1>
        <div class="aptCV datos_personales">
            <h2 class="titular">Datos Personales</h2>
            <div class="contenido_datosPersonales">
                @if (Model.Email != "" && Model.Email != null)
                {
                    <p class="email"><strong>Email:</strong> @Html.DisplayFor(model => model.Email)</p>
                }
                @if (Model.Telefono != "" && Model.Telefono != null)
                {
                    <p class="telefono"><strong>Teléfono</strong> @Html.DisplayFor(model => model.Telefono)</p>
                }
                @if (Model.Web != "" && Model.Web != null)
                {
                    <p class="website"><strong>Sitio web:</strong> @Html.DisplayFor(model => model.Web)</p>
                }
                @if (Model.Direccion != "" && Model.Direccion != null)
                {
                    <p class="direccion"><strong>Dirección:</strong> @Html.DisplayFor(model => model.Direccion)</p>
                }
            </div>
        </div>
        <div class="aptCV experiencia_laboral">
            @if (Model.ExperienciaLaboral != "" && Model.ExperienciaLaboral != null)
            {
                <h2 class="titular">Experiencia Laboral</h2>
                <div class="contenido_wysiwyg">@Html.Raw(Model.ExperienciaLaboral)</div>
            }
        </div>
        <div class="aptCV cualificaciones">
            @if (Model.Cualificaciones != "" && Model.Cualificaciones != null)
            {
                <h2 class="titular">Cualificaciones</h2>
                <div class="contenido_wysiwyg">@Html.Raw(Model.Cualificaciones)</div>
            }
        </div>
        <div class="aptCV educacion">
            @if (Model.Educacion != "" && Model.Educacion != null)
            {
                <h2 class="titular">Educación</h2>
                <div class="contenido_wysiwyg">@Html.Raw(Model.Educacion)</div>
            }
        </div>
        <div class="aptCV intereses">
            @if (Model.Intereses != "" && Model.Intereses != null)
            {
                <h2 class="titular">Intereses</h2>
                <div class="contenido_wysiwyg ">@Html.Raw(Model.Intereses)</div>
            }
        </div>
        <div class="aptCV referencias">
            @if (Model.Referencias != "" && Model.Referencias != null)
            {
                <h2 class="titular">Referencias</h2>
                <div class="contenido_wysiwyg">@Html.Raw(Model.Referencias)</div>
            }
        </div>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/Content/estilosPresentacionCV.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/impresionCV.css")" rel="stylesheet" type="text/css" media="print" />
}




